<h1 class="text-center mt-5">Inserisci un articolo</h1>

<h2 class="text-center mb-5">Seleziona la categoria</h2>

<div class="container">
<form>
  <label class="form-label">Titolo articolo</label>
  <input class="form-control mb-4" type="text">
  <label class="form-label">Testo articolo</label>
  <input class="form-control mb-4" type="text">
  <label class="form-label">Categoria</label>
  <select class="form-select mb-4 w-25">
    <option value=""></option>
    <option value="news">News</option>
    <option value="politics">Politics</option>
    <option value="education">Education</option>
  </select>

</form>
</div>
